/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes slideInFromLeft {
  from {
    left: -15px;
  }
  to {
    left: -11px;
  }
}

.sparks {
  fill-opacity: 0;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour, #000);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--heart-sparks, red);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour, #000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-sparks, red);
  transition: fill 0.3s 0.05s linear;
}

.like-icon .contour {
  fill: var(--heart-contour, #000);
}

.like-icon.is-liked .core {
  fill: var(--heart-sparks, red);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-sparks, red);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks, red);
  transition: fill 0.3s 0.06s linear;
}

@keyframes fadeIn {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

@keyframes heart-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .heart {
  animation-name: heart-scale;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-delay: 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
}

.contour {
  fill: var(--heart-contour, #000);
  transition: fill 0.1s linear;
}
